<header class="header">
  <div class="header-items">
    <div class="header-search">
      <div class="header-search-all-wrapper">
        <div
          (click)="openOrCloseMiniModal(HeaderClickInterfaceEnum.allMiniModal)"
          class="header-search-all"
          [ngStyle]="{ cursor: (isFavoritePage$ | async) ? 'default' : 'pointer' }">
          <span class="header-class-all-text">{{ selectedHeaderModalItem | async }}</span>
          <span
            [class]="{ 'header-class-all-arrow': true, active: allMiniModal }"
            [ngStyle]="{ display: (isFavoritePage$ | async) ? 'none' : 'block' }">
            <svg-icon src="assets/images/icons/arrow-in-mini-modal.svg"></svg-icon>
          </span>
        </div>
        @if (allMiniModal) {
          <div class="header-modal header-search-modal">
            <ul class="header-modal-items">
              @for (headerModalItem of headerModalItems; track headerModalItem) {
                <li class="header-modal-item">
                  <a (click)="changeSelectedHeaderModalItem(headerModalItem)">{{
                    headerModalItem
                  }}</a>
                </li>
              }
            </ul>
          </div>
        }
      </div>
      <div class="header-search-input-wrapper">
        <input
          [formControl]="searchField"
          class="header-search-input"
          type="text"
          placeholder="Search" />
        @if (searchTexts$ | async; as searchTexts) {
          <div class="header-search-offers">
            @for (searchText of searchTexts; track searchText) {
              <div (click)="chooseOfferFromLiveSearch(searchText)" class="header-search-offer">
                {{ searchText }}
              </div>
            }
          </div>
        }
      </div>
      <div class="header-search-find">
        <div class="header-search-find-loop">
          <svg-icon
            (click)="searchBooks()"
            class="header-search-find-loop-icon"
            [svgStyle]="{ position: 'relative', 'top.px': 2 }"
            src="assets/images/icons/header-loop.svg"></svg-icon>
        </div>
        <div class="header-search-find-scan">
          <svg-icon
            src="assets/images/icons/header-scan.svg"
            [svgStyle]="{ position: 'relative', 'top.px': 1 }"></svg-icon>
        </div>
      </div>
    </div>
    <div class="header-item">
      <div class="header-lang">
        <div class="header-back header-lang-wrapper">
          <div class="header-lang-item">
            <svg-icon src="assets/images/icons/header-lang.svg"></svg-icon>
          </div>
          <div
            (click)="openOrCloseMiniModal(HeaderClickInterfaceEnum.langMiniModal)"
            class="header-back-info header-lang-info">
            <span class="header-back-text header-lang-info-text">Lang</span>
            <span [class]="{ 'header-lang-info-icon': true, active: langMiniModal }">
              <svg-icon src="assets/images/icons/arrow-in-mini-modal.svg"></svg-icon>
            </span>
          </div>
        </div>
        @if (langMiniModal) {
          <div class="header-modal header-lang-modal">
            <ul class="header-modal-items">
              @for (headerModalLangItem of headerModalLangItems; track headerModalLangItem) {
                <li class="header-modal-item">
                  <a>{{ headerModalLangItem }}</a>
                </li>
              }
            </ul>
          </div>
        }
      </div>
      <div class="header-account">
        @if (userInfo$ | async; as userInfo) {
          <div class="header-back header-account-wrapper">
            <div
              class="header-account-image"
              style="background-image: url({{ userInfo?.info?.picture }})">
              &nbsp;
            </div>
            <div
              (click)="openOrCloseMiniModal(HeaderClickInterfaceEnum.profileMiniModal)"
              class="header-back-info header-account-info">
              <span class="header-back-text header-account-info-text">{{
                userInfo?.info?.name
              }}</span>
              <span [class]="{ 'header-account-info-icon': true, active: profileMiniModal }">
                <svg-icon src="assets/images/icons/arrow-in-mini-modal.svg"></svg-icon>
              </span>
            </div>
          </div>
        }
        @if (profileMiniModal) {
          <div class="header-modal header-account-modal">
            <ul class="header-modal-items">
              @for (
                headerModalAccountItem of headerModalAccountItems;
                track headerModalAccountItem;
                let last = $last
              ) {
                <li class="header-modal-item">
                  <a (click)="last ? logoutForGoogle() : null">{{ headerModalAccountItem }}</a>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>
  </div>
</header>
