@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/color';

.header {
  border-radius: 0 10px 0 0;
  padding: 38px 45px 25px 44px;

  .header-items {
    @include flex-center-space-between;

    .header-burger {
      cursor: pointer;
      display: none;
    }

    .header-search {
      background: var(--white-color);
      box-shadow: 0 0 4px rgb(0 0 0 / 25%);
      border-radius: 40px;
      max-width: 100%;

      @include flex-align-center;

      .header-search-all-wrapper {
        background: var(--main-light-color);
        border-radius: 40px 0 0 40px;
        position: relative;
        padding: 0 10px;
        height: 49px;

        @include flex-align-center;

        justify-content: center;

        .header-search-all {
          @include flex-align-center;

          column-gap: 10px;

          .header-class-all-text {
            @include primary-gray-20;
          }

          .header-class-all-arrow {
            position: relative;
            bottom: 2px;
          }
        }
      }

      .header-search-input-wrapper {
        position: relative;

        .header-search-input {
          padding: 12px;

          @include primary-gray-20;
          @include border-outline-none;

          width: 100%;
          box-sizing: border-box;

          &::placeholder {
            font-size: 20px;
            color: var(--primary-light-gray-color);
          }
        }
      }

      .header-search-find {
        @include flex-align-center;

        padding: 0 18px;

        .header-search-find-loop {
          height: 33px;
          width: 29px;
          border-right: 1px solid var(--primary-light-gray-color);

          @include flex-center-space-between;

          .header-search-find-loop-icon {
            cursor: pointer;
          }
        }

        .header-search-find-scan {
          margin-left: 11px;
          cursor: pointer;

          .header-search-find-scan-icon {
            position: relative;
            top: 1px;
          }
        }
      }
    }

    .header-item {
      @include flex-align-center;

      column-gap: 24px;

      .header-lang {
        position: relative;

        .header-lang-wrapper {
          @include flex-center-space-between;

          padding: 0 20px;
          height: 50px;
          justify-content: center;
          column-gap: 19px;

          .header-lang-item {
            position: relative;
            top: 1px;
          }
        }
      }

      .header-account {
        position: relative;

        .header-account-wrapper {
          @include flex-align-center;

          column-gap: 18px;
          height: 50px;
          padding-right: 20px;
          justify-content: flex-start;

          .header-account-image {
            width: 45px;
            height: 45px;
            margin-left: 3px;
            border-radius: 50%;
            border: 1px solid var(--white-color);
            box-sizing: border-box;
            background-size: cover;
          }

          .header-account-info {
            .header-account-info-text {
              max-width: 124px;
            }

            .header-account-info-icon {
              .header-account-info-icon-svg {
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (width <= 1417px) {
  .header {
    .header-items {
      .header-item {
        column-gap: 10px;
      }

      .header-search {
        .header-search-input-wrapper {
          .header-search-input {
            &::placeholder {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (width <= 1244px) {
  .header {
    padding: 38px 20px 25px;
  }
}

@media screen and (width <= 1053px) {
  .header {
    .header-items {
      .header-search {
        max-width: 40%;
      }
    }
  }
}

@media screen and (width <= 955px) {
  .header {
    border-radius: 10px 10px 0 0;

    .header-items {
      .header-burger {
        display: block;
      }
    }
  }
}

@media screen and (width <= 835px) {
  .header {
    padding: 20px;
  }
}

@media screen and (width <= 769px) {
  .header {
    .header-items {
      column-gap: 6px;

      .header-search {
        max-width: 100%;

        .header-search-all-wrapper {
          padding: 0 5px;
        }

        .header-search-input-wrapper {
          .header-search-input {
            padding: 7px;
          }
        }

        .header-search-find {
          padding: 0 9px 0 3px;
        }
      }

      .header-item {
        .header-lang {
          .header-lang-wrapper {
            .header-lang-info {
              .header-lang-info-text {
                display: none;
              }
            }
          }
        }

        .header-account {
          .header-account-wrapper {
            .header-account-info {
              .header-account-info-text {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (width <= 496px) {
  .header {
    padding: 20px 20px 10px;

    .header-items {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 7px;

      .header-burger {
        order: 1;
      }

      .header-search {
        order: 3;
      }

      .header-item {
        order: 2;

        .header-lang {
          .header-lang-wrapper {
            height: 35px;
            padding: 0 15px;

            .header-lang-item svg-icon svg {
              width: 18px;
              height: 18px;
            }
          }
        }

        .header-account {
          .header-account-wrapper {
            height: 35px;

            .header-account-image {
              width: 23px;
              height: 23px;
            }
          }
        }
      }
    }
  }
}
