@import '../../../assets/styles/color';
@import '../../../assets/styles/mixins';

.loader-wrapper {
  @include background-wrapper-for-ui-component;

  flex-direction: column;
  row-gap: 15px;

  .loader-message {
    font-size: 15px;
    color: var(--white-color);
  }
}
