@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/_color.scss';

.pdf-viewer {
  @include common-calc-height;

  background-color: #4d4d4d;
  position: relative;

  .pdf-viewer-header {
    padding: 23px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;

    .pdf-viewer-header-info {
      display: flex;
      align-items: center;
      column-gap: 47px;

      .pdf-viewer-header-info-back {
        display: flex;
        align-items: center;
        column-gap: 9px;
        cursor: pointer;
        color: var(--white-color);

        svg-icon {
          position: relative;
          top: 2px;
        }
      }

      .pdf-viewer-header-info-about {
        display: flex;
        align-items: center;
        column-gap: 16px;

        .pdf-viewer-header-info-about-image {
          width: 48px;
          height: 48px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .pdf-viewer-header-info-about-text {
          display: flex;
          flex-direction: column;
          row-gap: 3px;
          max-width: 450px;
          color: var(--white-color);

          .pdf-title {
            font-size: 12px;
            font-weight: 500;
          }

          .pdf-author {
            font-size: 10px;
            font-weight: 300;
          }
        }
      }
    }

    .pdf-viewer-header-addition {
      display: flex;
      gap: 10px 22px;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  .pdf-viewer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px 10px;

    .pdf-viewer-number {
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: center;
      padding: 10px 0;

      .pdf-viewer-arrow {
        cursor: pointer;
      }
    }

    .pdf-viewer-zoom {
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: center;
    }

    .pdf-download {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .pdf-edit {
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 50%;
    position: absolute;
    bottom: 65px;
    right: 70px;
  }
}

@media screen and (width <= 497px) {
  .pdf-viewer {
    .pdf-edit {
      bottom: 22px;
      right: 20px;
    }
  }
}
