<section class="signup-wrapper">
  <div class="auth signup">
    <div class="container slide-in-from-distance">
      <div class="logo">
        <img
          [ngSrc]="pathToImages + '/logo.png'"
          alt="MyBookShelf"
          priority
          height="93"
          width="150" />
      </div>
      <div class="auth-form" [formGroup]="registerForm" appPasswordRepeat appPasswordNotEmail>
        <div class="auth-form-head">
          @if (verification) {
            <span class="auth-form-head-greeting">{{ 'auth-page.verification' | translate }}</span>
            <span class="auth-form-head-description">{{
              'auth-page.checkYourEmailForOTP' | translate
            }}</span>
          } @else if (!verification && !codeWhichWrittenUserWasEqualFromEmail) {
            <span class="auth-form-head-greeting">{{ 'auth-page.registration' | translate }}</span>
            <span class="auth-form-head-description">{{
              'auth-page.forBothStaffStudents' | translate
            }}</span>
          } @else if (codeWhichWrittenUserWasEqualFromEmail) {
            <span class="auth-form-head-greeting">{{ 'auth-page.verification' | translate }}</span>
            <span class="auth-form-head-description">{{ 'auth-page.thankYou' | translate }}</span>
          }
        </div>

        @if (!verification && !codeWhichWrittenUserWasEqualFromEmail) {
          <div class="auth-form-inputs">
            <div class="auth-form-input">
              <label for="name">{{ 'auth-page.name' | translate }}</label>
              <div class="auth-form-input-wrapper">
                <div class="auth-form-input-wrapper-extra">
                  <input
                    class="input"
                    [ngStyle]="{
                      'border-color':
                        registerForm.get('username')?.invalid &&
                        (registerForm.get('username')?.dirty ||
                          registerForm.get('username')?.touched)
                          ? 'red'
                          : ''
                    }"
                    id="name"
                    placeholder="{{ 'auth-page.namePlaceholder' | translate }}"
                    type="text"
                    formControlName="username" />
                </div>
                @if (
                  registerForm.get('username')?.invalid &&
                  (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)
                ) {
                  <div class="error-message">{{ 'auth-page.nameIsRequired' | translate }}</div>
                }
              </div>
            </div>
            <div class="auth-form-input">
              <label for="email">Email</label>
              <div class="auth-form-input-wrapper">
                <div class="auth-form-input-wrapper-extra">
                  <input
                    class="input"
                    id="email"
                    [ngStyle]="{
                      'border-color':
                        registerForm.get('email')?.invalid &&
                        (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)
                          ? 'red'
                          : ''
                    }"
                    placeholder="{{ 'auth-page.emailPlaceholder' | translate }}"
                    type="text"
                    formControlName="email" />
                </div>
                @if (
                  registerForm.get('email')?.invalid &&
                  (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)
                ) {
                  @if (registerForm.get('email')?.errors?.['required']) {
                    <div class="error-message">{{ 'auth-page.emailIsRequired' | translate }}</div>
                  }

                  @if (registerForm.get('email')?.errors?.['email']) {
                    <div class="error-message">{{ 'auth-page.emailIsIncorrect' | translate }}</div>
                  }
                }
              </div>
            </div>
            <div class="auth-form-input">
              <label for="password">{{ 'auth-page.password' | translate }}</label>
              <div class="auth-form-input-wrapper">
                <div class="auth-form-input-wrapper-extra">
                  <input
                    class="input input-check"
                    id="password"
                    [ngStyle]="{
                      'border-color':
                        registerForm.get('password')?.invalid &&
                        (registerForm.get('password')?.dirty ||
                          registerForm.get('password')?.touched)
                          ? 'red'
                          : ''
                    }"
                    placeholder="{{ 'auth-page.passwordPlaceholder' | translate }}"
                    [type]="isShowPassword ? 'text' : 'password'"
                    formControlName="password" />

                  <div class="eye-wrapper">
                    @if (!isShowPassword) {
                      <svg-icon
                        [src]="pathToIcons + '/eye-close.svg'"
                        (click)="changeShowingPassword('isShowPassword')"></svg-icon>
                    }
                    @if (isShowPassword) {
                      <svg-icon
                        [src]="pathToIcons + '/eye-open.svg'"
                        (click)="changeShowingPassword('isShowPassword')"></svg-icon>
                    }
                  </div>
                </div>
                @if (
                  registerForm.get('password')?.invalid &&
                  (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)
                ) {
                  @if (registerForm.get('password')?.errors?.['required']) {
                    <div class="error-message">
                      {{ 'auth-page.passwordIsRequired' | translate }}
                    </div>
                  }

                  @if (registerForm.get('password')?.errors?.['pattern']) {
                    <div class="error-message">
                      {{ 'auth-page.passwordPattern' | translate }}
                    </div>
                  }

                  @if (
                    registerForm.get('email')?.value &&
                    registerForm.get('password')?.errors?.['passwordAsEmail']
                  ) {
                    <div class="error-message">{{ 'auth-page.passwordNotEmail' | translate }}</div>
                  }
                }
              </div>
            </div>
            <div class="auth-form-input">
              <label for="confirm-password">{{ 'auth-page.confirmPassword' | translate }}</label>
              <div class="auth-form-input-wrapper">
                <div class="auth-form-input-wrapper-extra">
                  <input
                    class="input input-check"
                    id="confirm-password"
                    [ngStyle]="{
                      'border-color':
                        registerForm.get('confirmPassword')?.invalid &&
                        (registerForm.get('confirmPassword')?.dirty ||
                          registerForm.get('confirmPassword')?.touched)
                          ? 'red'
                          : ''
                    }"
                    placeholder="{{ 'auth-page.confirmPasswordPlaceholder' | translate }}"
                    [type]="isShowConfirmPassword ? 'text' : 'password'"
                    formControlName="confirmPassword" />
                  <div class="eye-wrapper">
                    @if (!isShowConfirmPassword) {
                      <svg-icon
                        [src]="pathToIcons + '/eye-close.svg'"
                        (click)="changeShowingPassword('isShowConfirmPassword')"></svg-icon>
                    }
                    @if (isShowConfirmPassword) {
                      <svg-icon
                        [src]="pathToIcons + '/eye-open.svg'"
                        (click)="changeShowingPassword('isShowConfirmPassword')"></svg-icon>
                    }
                  </div>
                </div>
                @if (
                  registerForm.get('confirmPassword')?.invalid &&
                  (registerForm.get('confirmPassword')?.dirty ||
                    registerForm.get('confirmPassword')?.touched)
                ) {
                  @if (registerForm.get('confirmPassword')?.errors?.['required']) {
                    <div class="error-message">
                      {{ 'auth-page.confirmPasswordIsRequired' | translate }}
                    </div>
                  }
                  @if (registerForm.get('confirmPassword')?.errors?.['passwordRepeat']) {
                    <div class="error-message">
                      {{ 'auth-page.confirmPasswordDoesntMatch' | translate }}
                    </div>
                  }
                }
              </div>
            </div>
          </div>
        } @else if (verification) {
          <div class="verification">
            <div class="verification-head">{{ 'auth-page.enterYourOTPHere' | translate }}</div>
            <div class="verification-body" #verificationBody>
              <input
                class="verification-number"
                (keydown)="keyPressOnInput($event)"
                maxlength="1"
                type="tel" />
              <input
                class="verification-number"
                (keydown)="keyPressOnInput($event)"
                maxlength="1"
                type="tel" />
              <input
                class="verification-number"
                (keydown)="keyPressOnInput($event)"
                maxlength="1"
                type="tel" />
              <input
                class="verification-number"
                (keydown)="keyPressOnInput($event)"
                maxlength="1"
                type="tel" />
              <input
                class="verification-number"
                (keydown)="keyPressOnInput($event)"
                maxlength="1"
                type="tel" />
            </div>
          </div>
        } @else if (codeWhichWrittenUserWasEqualFromEmail) {
          <div class="verification" [style.margin-top]="'19px'">
            <div class="verification-head" [style.text-align]="'center'">
              {{
                errorMessage
                  ? ('auth-page.youAreNotVerified' | translate)
                  : ('auth-page.youAreVerified' | translate)
              }}
            </div>
          </div>
          <div class="verification-done">
            @if (!errorMessage) {
              <svg-icon [src]="pathToIcons + '/done-circle.svg'"></svg-icon>
            } @else {
              <svg-icon [src]="pathToIcons + '/cancel-circle.svg'"></svg-icon>
            }
          </div>
        }

        @if (!codeWhichWrittenUserWasEqualFromEmail) {
          <button
            [disabled]="registerForm.invalid && !fillAllInputs"
            (click)="verification ? isCodeFromUserRight() : checkEmailWasUsedBeforeToSendCode()"
            [ngStyle]="{
              'background-color': registerForm.invalid && !fillAllInputs ? 'gray' : '',
              cursor: registerForm.invalid && !fillAllInputs ? 'not-allowed' : 'pointer'
            }"
            [ngClass]="{ 'auth-button': true, 'verification-button': verification }">
            {{
              verification ? ('auth-page.verify' | translate) : ('auth-page.register' | translate)
            }}
          </button>
        } @else {
          <button (click)="afterVerify()" class="auth-button">
            {{
              errorMessage
                ? ('auth-page.backToRegister' | translate)
                : ('auth-page.login' | translate)
            }}
          </button>
        }

        @if (!verification && !codeWhichWrittenUserWasEqualFromEmail) {
          <span class="auth-form-moving"
            >{{ 'auth-page.alreadyAUser' | translate }}
            <span class="auth-form-moving-route" routerLink="/">{{
              'auth-page.loginNow' | translate
            }}</span></span
          >
        } @else if (verification) {
          <div class="verification-moving-wrapper">
            <div class="auth-form-moving">
              {{ 'auth-page.notYetReceived' | translate }}
              <span class="auth-form-moving-route" (click)="sendCodeToEmail()">{{
                'auth-page.resend' | translate
              }}</span>
            </div>
            <span (click)="backToRegister()" class="verification-moving-back">{{
              'auth-page.back' | translate
            }}</span>
          </div>
        }
      </div>
    </div>
  </div>
</section>
