@import '../../../../assets/styles/color';

.favorites {
  height: calc(100vh - 221px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .favorites-title {
    color: var(--primary-dark-gray-color);
    font-weight: 700;
    font-size: 1.5em;
    margin: 1.7em 0;
  }

  .favorites-books {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
  }
}
