<section class="favorites common-padding">
  <h2 class="common-title">{{ 'favouriteTitle' | translate }}</h2>
  @if (isLoading$ | async) {
    <app-mini-modal></app-mini-modal>
  } @else {
    @if (favoritesBooks$ | async; as favoritesBooks) {
      <div class="list-books">
        @for (favoriteBook of favoritesBooks.items; track favoriteBook) {
          <app-book [bigInfo]="true" [book]="favoriteBook"></app-book>
        }
      </div>
    } @else {
      <h3 class="common-nothing">{{ 'dontHaveFavouriteBook' | translate }}</h3>
    }
  }
</section>
