@if (book) {
  <div class="book-back fade-in" [ngClass]="{ 'big-book': bigInfo, 'small-book': !bigInfo }">
    <div
      (click)="openDetailBook('small-book', book)"
      class="book-left"
      [ngStyle]="{ cursor: bigInfo ? 'default' : 'pointer' }">
      <div class="book-image" style="background-image: url({{ book.thumbnail }})">&nbsp;</div>
      <span class="book-name">{{ book.title | reduceLetter: 'book-name' }}</span>
      @if (book.author && book.author.length > 0) {
        <span class="book-author">
          {{ book.author[0] | reduceLetter: 'book-author' }}
          {{ book.publishedDate | transformDateBook }}
        </span>
      }
      @if (book.averageRating) {
        <span class="book-review">
          {{ book.averageRating }}
          <span class="book-review-all">/5</span>
        </span>
      } @else {
        <span class="book-review">
          {{ book.pageCount ? book.pageCount : '—' }} {{ 'common.pagesInput' | translate }}
        </span>
      }
      @if (bigInfo && selfBook) {
        <div class="book-actions">
          <svg-icon
            (click)="editSelfBook(book)"
            [src]="pathToIcons + '/icon-self-edit.svg'"></svg-icon>
          <svg-icon
            (click)="openDeletePopupForOwnBook()"
            [src]="pathToIcons + '/icon-self-trash.svg'"></svg-icon>
        </div>
      }
    </div>
    @if (bigInfo) {
      <div class="book-right">
        <div class="book-right-top">
          <div class="book-right-top-wrapper">
            <span class="book-right-top-title">{{ 'book.borrowedOn' | translate }}</span>
            @if (book.userInfo || selfBook) {
              <span class="book-right-top-description">
                {{
                  (book.userInfo ? book.userInfo : book.publishedDate)
                    | transformFavoriteDate: ('common.langForPipe' | translate)
                }}
              </span>
            }
          </div>
          <div class="book-right-top-wrapper">
            <span class="book-right-top-title">{{ 'book.categories' | translate }}</span>
            <span class="book-right-top-description">
              {{ book.categories ? book.categories[0] : '—' }}
            </span>
          </div>
        </div>
        <div class="book-right-bottom">
          @if (!selfBook) {
            <button (click)="openGoogleInfo(book)" class="btn-green button-green-full">
              E-BOOK
            </button>
          }
          <button
            (click)="openDetailBook('big-book', book)"
            class="btn-orange button-orange-transparent">
            {{ 'button.read' | translate }}
          </button>
          @if (!selfBook) {
            <svg-icon
              [style]="{ cursor: 'pointer', width: '12px', height: '12px' }"
              (click)="openPopupForDeletionFromFavorite()"
              [src]="pathToIcons + '/icon-self-trash.svg'"></svg-icon>
          }
        </div>
      </div>
    }
  </div>
}

<app-common-popup
  [isOpenDeletePopup]="isOpenDeletePopup"
  [textForPopup]="textForPopup"
  [page]="page"></app-common-popup>
