@import '../../../assets/styles/mixins';
@import '../../../assets/styles/color';

.book-back {
  padding: 15px;
  background: var(--white-color);
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--primary-dark-gray-color);
  height: 260px;
  display: flex;
  column-gap: 30px;
  transition: all 0.2s;

  .book-left {
    display: flex;
    flex-direction: column;

    .book-image {
      background-size: cover;
      background-position: center;
      width: 130px;
      height: 170px;
      margin-bottom: 11px;
    }

    .book-name {
      font-size: 1em;
      margin-bottom: 5px;
    }

    .book-author {
      margin-bottom: 5px;
      font-size: 0.9em;
    }

    .book-review {
      font-size: 0.9em;

      .book-review-all {
        color: var(--primary-gray-color);
      }
    }

    .book-actions {
      margin-top: 8px;
      display: flex;
      align-items: center;
      column-gap: 8px;

      svg-icon {
        cursor: pointer;
      }
    }
  }

  .book-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .book-right-top {
      @include flex-column;

      row-gap: 10px;
      margin-top: 6px;

      .book-right-top-wrapper {
        @include flex-column;

        row-gap: 10px;

        .book-right-top-title {
          font-size: 1em;
          color: var(--primary-dark-gray-color);
        }

        .book-right-top-description {
          font-size: 0.7em;
          color: var(--gray-text-color);
        }
      }
    }

    .book-right-bottom {
      @include flex-column;

      .btn-orange,
      .btn-green {
        width: 125px;
        height: 40px;
        margin-bottom: 5px;
      }
    }
  }

  &:hover {
    @include book-hover;
  }
}

@media screen and (width <= 400px) {
  .book-back {
    &.big-book {
      .book-left {
        .book-image {
          width: 76px;
          height: 106px;
        }
      }
    }
  }
}
