@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/color';

.detail {
  @include common-calc-height;

  .common-padding {
    padding: 90px 45px 0;

    .back-to-result {
      display: flex;
      column-gap: 9px;
      margin-bottom: 20px;

      span {
        cursor: pointer;
      }
    }

    .detail-items {
      display: flex;
      justify-content: space-between;
      gap: 15px 70px;
      flex-wrap: wrap;

      .detail-item-common {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        row-gap: 15px;

        .detail-left {
          margin-right: 70px;
          max-width: 278px;
          padding: 24px 32px;
          background: var(--white-color);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          row-gap: 29px;
          align-items: center;

          .detail-left-image {
            width: 209px;

            img {
              width: 100%;
            }
          }

          .detail-left-actions {
            display: flex;
            align-items: flex-start;
            column-gap: 27px;

            .detail-left-action {
              @include flex-column;

              row-gap: 7px;
              align-items: center;
              cursor: pointer;

              .detail-action-title {
                font-family: LiberationSans-Bold, sans-serif;
                font-size: 11px;
                color: var(--dark-gray-title-color);
              }
            }
          }
        }

        .detail-center-info {
          @include flex-column;

          row-gap: 17px;
          margin-bottom: 40px;
          max-width: 509px;

          .detail-center-info-title {
            font-weight: 400;
            font-size: 2.2em;
            color: var(--primary-dark-gray-color);
          }

          .detail-center-info-author {
            @include primary-dark-gray-color-09;

            .detail-center-info-author-decoration {
              text-decoration: underline;
              cursor: pointer;
            }
          }

          .detail-center-info-edition {
            font-size: 0.9em;
            color: var(--primary-gray-color);
          }
        }

        .detail-central-reviews {
          font-weight: 500;
          font-size: 14px;
          color: var(--primary-dark-gray-color);
          margin-bottom: 34px;
          display: flex;
          column-gap: 10px;
        }

        .detail-central-availability {
          margin-bottom: 50px;

          .detail-central-availability-title {
            font-weight: 700;

            @include primary-dark-gray-color-09;

            margin-bottom: 11px;
          }

          .detail-central-availability-item {
            display: flex;
            align-items: flex-start;
            column-gap: 8px;
            margin-bottom: 8px;

            .detail-central-availability-item-icon {
              position: relative;
              top: 2px;
            }

            .detail-central-availability-item-description {
              @include primary-dark-gray-color-09;
            }

            &:last-child {
              margin-bottom: unset;
            }
          }
        }

        .detail-central-buttons {
          display: flex;
          align-items: center;
          gap: 15px 38px;
          flex-wrap: wrap;

          .detail-btn {
            width: 209px;
            height: 60px;
            font-weight: 600;
            font-size: 20px;
            color: var(--white-color);
            border-radius: 5px;
          }

          .detail-btn-orange {
            background: var(--secondary-orange-color);

            &:hover {
              background: var(--primary-orange-color-hover);
            }
          }

          .detail-btn-green {
            background: var(--green-bottom-color);
            display: flex;
            align-items: center;
            padding: 0 21px 0 17px;
            box-sizing: border-box;

            .detail-btn-green-headphones-wrapper {
              height: 100%;
              display: flex;
              align-items: center;
              border-left: 1px solid var(--white-color);
              padding-left: 20px;
              margin-left: 37px;
            }

            &:hover {
              background: var(--green-bottom-color-hover);
            }
          }
        }
      }

      .detail-right {
        max-width: 445px;
        padding: 30px;
        box-sizing: border-box;
        background: var(--white-color);
        border-radius: 10px;
        height: fit-content;

        .detail-right-title {
          font-weight: 600;
          font-size: 1.3em;
          color: var(--primary-dark-gray-color);
          margin-bottom: 10px;

          .detail-right-title-orange {
            color: var(--secondary-orange-color);
          }
        }

        .detail-right-author-wrapper {
          display: flex;
          align-items: center;
          column-gap: 96px;
          margin-bottom: 18px;

          .detail-right-author-name {
            font-weight: 400;
            font-size: 1.3em;
            color: var(--primary-dark-gray-color);
          }

          .detail-right-author-image {
            max-width: 88px;

            img {
              width: 100%;
            }
          }
        }

        .detail-right-about {
          line-height: 128.52%;

          @include primary-dark-gray-color-09;

          margin-bottom: 22px;
        }

        .detail-right-other {
          .detail-right-other-text {
            font-weight: 700;
            font-size: 1.2em;
            color: var(--primary-dark-gray-color);
            margin-bottom: 14px;
          }

          .detail-right-other-images {
            display: flex;
            column-gap: 20px;

            .detail-right-other-image {
              cursor: pointer;
              max-width: 75px;
              height: 99px;
              border: 1px solid var(--main-light-color);
              border-radius: 5px;
              transition: all 0.2s;

              img {
                width: 100%;
                height: 100%;
              }

              &:hover {
                @include book-hover;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (width <= 1440px) {
  .detail {
    .common-padding {
      .detail-items {
        .detail-right {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (width <= 1245px) {
  .detail {
    .common-padding {
      .back-to-result {
        align-items: center;

        svg-icon {
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

@media screen and (width <= 1244px) {
  .detail {
    font-size: 0.7em;

    .common-padding {
      padding: 10px 20px 0;
    }
  }
}

@media screen and (width <= 1024px) {
  .detail {
    font-size: 0.7em;

    .common-padding {
      .detail-items {
        .detail-item-common {
          .detail-left {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media screen and (width <= 650px) {
  .detail {
    font-size: 0.7em;

    .common-padding {
      .detail-items {
        .detail-item-common {
          .detail-left {
            padding: 15px;

            .detail-left-image {
              width: 90px;
            }
          }

          .detail-center-info {
            margin-bottom: 6px;
          }

          .detail-central-availability {
            margin-bottom: 15px;
          }

          .detail-central-buttons {
            .detail-btn {
              font-size: 1em;
              padding: 12px;
              width: unset;
              height: unset;
            }

            .detail-btn-green {
              .detail-btn-green-headphones-wrapper svg-icon svg {
                width: 10px;
                height: 10px;
              }
            }
          }
        }

        .detail-right {
          padding: 15px;
        }
      }
    }
  }
}

@media screen and (width <= 580px) {
  .detail {
    .common-padding {
      .detail-items {
        .detail-item-common {
          flex-wrap: wrap;

          .detail-left {
            order: 2;
          }

          .detail-center {
            order: 1;
          }
        }
      }
    }
  }
}
