@if (isOpenDeletePopup.isOpen && textForPopup && textForPopup.text && page) {
  <div class="common-popup-wrapper">
    <div class="common-popup">
      <span class="common-popup-message">{{ textForPopup.text }}</span>
      <div class="common-popup-buttons">
        <button (click)="delete()" class="popup-button popup-button-yes">
          {{ 'modal.yes' | translate }}
        </button>
        <button (click)="notDelete()" class="popup-button popup-button-no">
          {{ 'modal.no' | translate }}
        </button>
      </div>
    </div>
  </div>
}
