@import '../../../../assets/styles/mixins';

.search {
  padding: 10px 45px 0;
  height: calc(100vh - 228px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .header-search {
    position: relative;
    max-width: 170px;
    margin-bottom: 70px;

    .header-search-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 19px;

      .header-search-item {
        position: relative;
        top: 1px;
      }
    }

    .header-search-modal {
      left: 0;
      max-height: 200px;
      overflow-y: scroll;
    }
  }

  .search-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr 30px 85px;
    column-gap: 70px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
}
