<section class="search">
  <div class="header-search">
    <div class="header-back header-search-wrapper">
      <div (click)="openOrCloseMiniModal()" class="header-back-info header-search-info">
        <span class="header-back-text header-search-info-text">Browse</span>
        <span [class]="{ 'header-search-info-icon': true, active: browseMiniModal }">
          <svg-icon src="assets/images/icons/arrow-in-mini-modal.svg"></svg-icon>
        </span>
      </div>
    </div>
    @if (browseMiniModal) {
      <div class="header-modal header-search-modal">
        <ul class="header-modal-items">
          @for (headerModalSearchItem of headerModalSearchItems; track $index) {
            <li class="header-modal-item">
              <a>{{ headerModalSearchItem }}</a>
            </li>
          }
        </ul>
      </div>
    }
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium ad asperiores assumenda blanditiis debitis iure laboriosam, obcaecati
    odio perferendis porro repudiandae similique sint suscipit vel vero voluptas, voluptates.
  </div>
</section>
