<section class="search">
  <div class="header-search">
    <div class="header-back header-search-wrapper">
      <div (click)="openOrCloseMiniModal()" class="header-back-info header-search-info">
        <span class="header-back-text header-search-info-text">{{
          headerModalSearchText | async
        }}</span>
        <span [class]="{ 'header-search-info-icon': true, active: browseMiniModal }">
          <svg-icon src="assets/images/icons/arrow-in-mini-modal.svg"></svg-icon>
        </span>
      </div>
    </div>
    @if (browseMiniModal) {
      <div class="header-modal header-search-modal">
        <ul class="header-modal-items">
          @for (headerModalSearchItem of headerModalSearchItems; track $index) {
            <li class="header-modal-item">
              <a (click)="chooseCategory(headerModalSearchItem)">{{ headerModalSearchItem }}</a>
            </li>
          }
        </ul>
      </div>
    }
  </div>
  <div class="search-books">
    <header class="search-header">
      <div class="search-header-title">Title</div>
      <div class="search-header-title">Pages</div>
      <div class="search-header-title">Category</div>
      <div></div>
      <div></div>
    </header>
    <div class="content">
      @if (searchBooks$ | async; as searchBooks) {
        @for (searchBook of searchBooks.items; track $index) {
          <app-search-book
            [searchBook]="searchBook"
            [idOfFavorites]="idOfFavorites"></app-search-book>
        }
      }
    </div>
    @if ((searchBooks$ | async) === null) {
      You must choose options
    }
  </div>
  <app-pagination-input
    [quantityOfBooks]="(searchBooks$ | async)?.totalItems"></app-pagination-input>
</section>
