<section class="home user-common-padding">
  <app-slider></app-slider>
  <h2 class="home-hello">{{ 'home-page.morning' | translate }}</h2>
  @if (isLoading$ | async) {
    <app-mini-loader></app-mini-loader>
  } @else {
    @if (recommendedBooks$ | async; as recommendedBooks) {
      <div class="home-common-wrapper">
        <h3 class="home-common">{{ 'home-page.recommended' | translate }}</h3>
        @if (recommendedBooks$ | async) {
          <span
            [routerLink]="'/home/show'"
            [queryParams]="{ show: 'recommended' }"
            class="home-show"
            >{{ 'home-page.showAll' | translate }}</span
          >
        }
      </div>
      <app-google-home [googleArrayFromHome]="recommendedBooks"></app-google-home>
    }

    @if (readingNowBooks$ | async; as readingNowBooks) {
      <div class="home-common-wrapper">
        <h3 class="home-common">{{ 'home-page.recent' | translate }}</h3>
        @if (readingNowBooks$ | async) {
          <span [routerLink]="'/home/show'" [queryParams]="{ show: 'reading' }" class="home-show">{{
            'home-page.showAll' | translate
          }}</span>
        }
      </div>
      <app-google-home [googleArrayFromHome]="readingNowBooks"></app-google-home>
    }

    @if ((recommendedBooks$ | async) === null && (readingNowBooks$ | async) === null) {
      <h3 class="common-nothing">{{ 'home-page.noBooksAvailable' | translate }}</h3>
    }
  }
</section>
