<section class="home user-common-padding">
  <div class="quotes"></div>
  <h2 class="home-hello">Good Morning</h2>
  <div class="home-common-wrapper">
    <h3 class="home-common">Recommended for You</h3>
    @if (recommendedBooks$ | async) {
      <span [routerLink]="'/home/show'" [queryParams]="{ show: 'recommended' }" class="home-show">Show All</span>
    }
  </div>
  @if (miniLoader) {
    <app-minimodal [miniLoader]="miniLoader"></app-minimodal>
  } @else {
    @if (recommendedBooks$ | async; as recommendedBooks) {
      <div class="home-recommended-books">
        @for (book of recommendedBooks?.items; track $index) {
          <app-book [book]="book"></app-book>
        }
      </div>
    }
    @if ((recommendedBooks$ | async) === null) {
      <h3 class="common-nothing">You don't have recommended book. You should do more active in Google Book and then we sth recommend you on based your preferences:)</h3>
    }
  }
  <div class="home-common-wrapper">
    <h3 class="home-common">Recent Readings</h3>
    @if (readingNowBooks$ | async) {
      <span [routerLink]="'/home/show'" [queryParams]="{ show: 'reading' }" class="home-show">Show All</span>
    }
  </div>
  @if (miniLoader1 || (readingNowBooks$ | async) === null) {
    <app-minimodal [miniLoader1]="miniLoader1"></app-minimodal>
  } @else {
    @if (readingNowBooks$ | async; as readingNowBooks) {
      <div class="home-recommended-books">
        @for (book of readingNowBooks?.items; track $index) {
          <app-book [book]="book"></app-book>
        }
      </div>
    }
    @if ((readingNowBooks$ | async) === null) {
      <h3 class="common-nothing">You don't have reading now books</h3>
    }
  }
</section>
