@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.home {
  /* height: 100vh; */
  height: calc(100vh - 221px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .quotes {
    width: 811px;
    height: 146px;
    background: linear-gradient(0deg, rgb(0 0 0 / 10%), rgb(0 0 0 / 10%)), linear-gradient(140.88deg, #eb5231 -29.15%, #571fcf 151.64%);
    border-radius: 10px;
    margin-bottom: 42px;
  }

  .home-hello {
    font-size: 35px;

    @include text-primary-gray-600;

    margin-bottom: 24px;
    margin-top: 42px;
  }

  .home-common-wrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .home-common {
      font-size: 25px;
      color: $primary-gray-color;
    }

    .home-show {
      margin-right: 48px;
      font-size: 20px;
      color: #8a8a8a;
      cursor: pointer;
    }
  }

  .home-recommended-books {
    display: flex;
    column-gap: 40px;
    overflow: scroll scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 53px;
    padding: 20px 0;

    &::-webkit-scrollbar {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
