<section class="login-wrapper">
  <div class="auth login">
    <div class="container slide-in-from-distance">
      <div class="logo">
        <img
          [ngSrc]="pathToImages + '/logo.png'"
          alt="MyBookShelf"
          priority
          height="93"
          width="150" />
      </div>
      <div class="auth-form" [formGroup]="loginForm">
        <div class="auth-form-head">
          <span class="auth-form-head-greeting">{{ 'auth-page.welcomeBack' | translate }}</span>
          <span class="auth-form-head-description">{{ 'auth-page.signInTitle' | translate }}</span>
        </div>

        <div class="auth-form-inputs">
          <div class="auth-form-input">
            <label for="email">Email</label>
            <div class="auth-form-input-wrapper">
              <div class="auth-form-input-wrapper-extra">
                <input
                  class="input"
                  [ngStyle]="{
                    'border-color':
                      loginForm.get('email')?.invalid &&
                      (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
                        ? 'red'
                        : ''
                  }"
                  id="email"
                  formControlName="email"
                  placeholder="{{ 'auth-page.emailPlaceholder' | translate }}"
                  type="text" />
              </div>
              @if (
                loginForm.get('email')?.invalid &&
                (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
              ) {
                @if (loginForm.get('email')?.errors?.['required']) {
                  <div class="error-message">{{ 'auth-page.emailIsRequired' | translate }}</div>
                }

                @if (loginForm.get('email')?.errors?.['email']) {
                  <div class="error-message">{{ 'auth-page.emailIsIncorrect' | translate }}</div>
                }
              }
            </div>
          </div>
          <div class="auth-form-input">
            <label for="password">{{ 'auth-page.password' | translate }}</label>
            <div class="auth-form-input-wrapper">
              <div class="auth-form-input-wrapper-extra">
                <input
                  class="input input-check"
                  [ngStyle]="{
                    'border-color':
                      loginForm.get('password')?.invalid &&
                      (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
                        ? 'red'
                        : ''
                  }"
                  formControlName="password"
                  id="password"
                  placeholder="{{ 'auth-page.passwordPlaceholder' | translate }}"
                  [type]="isShowPassword ? 'text' : 'password'" />
                <div class="eye-wrapper">
                  @if (!isShowPassword) {
                    <svg-icon
                      [src]="pathToIcons + '/eye-close.svg'"
                      (click)="changeShowingPassword()"></svg-icon>
                  }
                  @if (isShowPassword) {
                    <svg-icon
                      [src]="pathToIcons + '/eye-open.svg'"
                      (click)="changeShowingPassword()"></svg-icon>
                  }
                </div>
              </div>
              @if (
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
              ) {
                @if (loginForm.get('password')?.errors?.['required']) {
                  <div class="error-message">{{ 'auth-page.passwordIsRequired' | translate }}</div>
                }
              }
            </div>
          </div>
        </div>

        <button
          class="auth-button"
          [disabled]="loginForm.invalid"
          [ngStyle]="{
            'background-color': loginForm.invalid ? 'gray' : '',
            cursor:
              loginForm.invalid && (loginForm.dirty || loginForm.touched)
                ? 'not-allowed'
                : 'pointer'
          }"
          (click)="login()">
          {{ 'auth-page.login' | translate }}
        </button>

        <span class="auth-form-moving">
          {{ 'auth-page.newUser' | translate }}
          <span class="auth-form-moving-route" routerLink="/signup">
            {{ 'auth-page.registerHere' | translate }}
          </span>
        </span>
        <button (click)="googleLogin()" class="auth-google">
          {{ 'auth-page.signInWithGoogle' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
