@import '../../../../assets/styles/auth-common';

.login-wrapper {
  overflow-y: scroll;
  height: 100vh;

  .login {
    .container {
      .logo {
        margin-bottom: 62px;
      }

      .auth-form {
        .auth-form-head {
          margin-bottom: 42px;
        }

        .auth-form-inputs {
          margin-bottom: 79px;

          .auth-form-input:not(:last-child) {
            margin-bottom: 24px;
          }
        }

        .auth-button {
          margin-bottom: 79px;
        }
      }
    }
  }
}

@media screen and (width <= 503px) {
  .login-wrapper {
    .login {
      .container {
        .auth-form {
          .auth-form-inputs,
          .auth-button {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
