@if ((isShow | async) === true) {
  <div class="hard-pagination-wrapper">
    <div class="hard-pagination">
      <span>
        <svg-icon
          (click)="decrementBig()"
          [svgStyle]="{ transform: 'rotate(180deg)' }"
          [ngClass]="{
            disabled: (valueFromInput$ | async)!.valueOf() - 10 <= 0
          }"
          src="assets/images/icons/pagination-input/arrow-big-right-pagination-input.svg"></svg-icon>
      </span>
      <span>
        <svg-icon
          (click)="decrement()"
          [svgStyle]="{ transform: 'rotate(180deg)' }"
          [ngClass]="{
            disabled: (valueFromInput$ | async)!.valueOf() <= 1
          }"
          src="assets/images/icons/pagination-input/arrow-mini-right-pagination-input.svg"></svg-icon>
      </span>
      <span class="hard-pagination-input">
        <input
          [formControl]="inputValue"
          class="hard-pagination-inp"
          (keydown)="keyPressOnInput($event)"
          type="tel" />
        <span>{{ quantityOfPages$ | async }} pages</span>
      </span>
      <span>
        <svg-icon
          (click)="increment()"
          [ngClass]="{
            disabled: (quantityOfPages$ | async)!.valueOf() <= (valueFromInput$ | async)!.valueOf()
          }"
          src="assets/images/icons/pagination-input/arrow-mini-right-pagination-input.svg"></svg-icon>
      </span>
      <span>
        <svg-icon
          (click)="incrementBig()"
          [ngClass]="{
            disabled:
              (quantityOfPages$ | async)!.valueOf() <= (valueFromInput$ | async)!.valueOf() + 10
          }"
          src="assets/images/icons/pagination-input/arrow-big-right-pagination-input.svg"></svg-icon>
      </span>
    </div>
  </div>
}
