<section class="upload-wrapper">
  <div class="upload">
    <div class="upload-title">Upload Your Book</div>
    <div class="upload-items">
      <div class="upload-item">
        <label class="upload-label" for="title">Title</label>
        <input class="upload-input" placeholder="Book title" id="title" type="text" />
      </div>
      <div class="upload-item">
        <label class="upload-label" for="author">Author</label>
        <input class="upload-input" placeholder="Author" id="author" type="text" />
      </div>
      <div class="upload-item">
        <label class="upload-label" for="description">Description</label>
        <textarea class="upload-textarea" id="description" placeholder="Purpose"></textarea>
      </div>
      <div class="upload-item">
        <label class="upload-label" for="file">File</label>
        <input class="upload-input" placeholder="Upload book file" id="file" type="text" />
      </div>
      <div class="upload-item">
        <label class="upload-label" for="image">Image</label>
        <input class="upload-input" placeholder="Image" id="image" type="text" />
      </div>
    </div>
    <div class="upload-button">
      <button class="btn-upload">UPLOAD</button>
    </div>
  </div>
</section>
