<section class="upload-wrapper">
  <div class="upload">
    <div class="upload-title">{{ 'uploadTitle' | translate }}</div>
    <form [formGroup]="uploadForm" class="upload-items">
      <div class="upload-item-wrapper">
        <div class="upload-item">
          <label class="upload-label" for="title">{{ 'uploadFormTitle' | translate }}</label>
          <input
            [ngStyle]="{
              'border-color':
                uploadForm.get('title')?.invalid &&
                (uploadForm.get('title')?.dirty || uploadForm.get('title')?.touched)
                  ? 'red'
                  : ''
            }"
            formControlName="title"
            class="upload-input"
            placeholder="{{ 'uploadFormTitlePlaceholder' | translate }}"
            id="title"
            type="text" />
        </div>
        @if (
          uploadForm.get('title')?.invalid &&
          (uploadForm.get('title')?.dirty || uploadForm.get('title')?.touched)
        ) {
          <div class="error-message">{{ 'uploadFormTitleError' | translate }}</div>
        }
      </div>
      <div class="upload-item-wrapper">
        <div class="upload-item">
          <label class="upload-label" for="author">{{ 'uploadFormAuthor' | translate }}</label>
          <input
            [ngStyle]="{
              'border-color':
                uploadForm.get('author')?.invalid &&
                (uploadForm.get('author')?.dirty || uploadForm.get('author')?.touched)
                  ? 'red'
                  : ''
            }"
            formControlName="author"
            class="upload-input"
            placeholder="{{ 'uploadFormAuthor' | translate }}"
            id="author"
            type="text" />
        </div>
        @if (
          uploadForm.get('author')?.invalid &&
          (uploadForm.get('author')?.dirty || uploadForm.get('author')?.touched)
        ) {
          <div class="error-message">{{ 'uploadFormAuthorError' | translate }}</div>
        }
      </div>
      <div class="upload-item-wrapper">
        <div class="upload-item">
          <label class="upload-label" for="description">{{
            'uploadFormDescription' | translate
          }}</label>
          <textarea
            [ngStyle]="{
              'border-color':
                uploadForm.get('description')?.invalid &&
                (uploadForm.get('description')?.dirty || uploadForm.get('description')?.touched)
                  ? 'red'
                  : ''
            }"
            formControlName="description"
            class="upload-textarea"
            id="description"
            placeholder="{{ 'uploadFormPurpose' | translate }}"></textarea>
        </div>
        @if (
          uploadForm.get('description')?.invalid &&
          (uploadForm.get('description')?.dirty || uploadForm.get('description')?.touched)
        ) {
          <div class="error-message">{{ 'uploadFormDescriptionError' | translate }}</div>
        }
      </div>
      <div class="upload-item-wrapper">
        @if ((pdfUrl | async) && !pdfFile) {
          <div class="upload-image-wrapper">
            <div class="upload-image">
              <svg-icon
                [svgStyle]="{ width: '60px', height: '60px' }"
                [src]="pathToIcons + '/icon-pdf.svg'"></svg-icon>
            </div>
            <span class="upload-image-text">{{ 'uploadFormFileChanging' | translate }}</span>
          </div>
        }
        <div class="upload-item">
          <label class="upload-label" for="pdfFile">{{ 'uploadFormFile' | translate }}</label>
          <input
            #pdfFileInput
            class="upload-input"
            placeholder="Upload book file"
            type="file"
            id="pdfFile"
            (change)="onPdfFileSelected($event)" />
        </div>
      </div>
      <div class="upload-item-wrapper">
        @if ((photoUrl | async) && !photoFile) {
          <div class="upload-image-wrapper">
            <div class="upload-image" style="background-image: url({{ photoUrl | async }})"></div>
            <span class="upload-image-text">{{ 'uploadFormImageChanging' | translate }}</span>
          </div>
        }
        <div class="upload-item">
          <label class="upload-label" for="photoFile">{{ 'uploadFormImage' | translate }}</label>
          <input
            #photoFileInput
            class="upload-input"
            placeholder="Image"
            type="file"
            id="photoFile"
            (change)="onPhotoFileSelected($event)" />
        </div>
      </div>
    </form>
    <div class="upload-button">
      @if (!edit) {
        <button
          [disabled]="uploadForm.invalid || !pdfFile || !photoFile"
          (click)="upload()"
          class="btn-upload">
          UPLOAD
        </button>
      } @else {
        <button
          [disabled]="uploadForm.invalid && !uploadForm.dirty && !pdfFile && !photoFile"
          (click)="editSelfBook()"
          class="btn-upload">
          EDIT
        </button>
      }
    </div>
  </div>
</section>
