@import '../.././../../assets/styles/variables';

.upload {
  padding: 45px 90px 28px;
  max-width: 732px;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 27px;

  .upload-title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-bottom: 45px;
  }

  .upload-items {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .upload-item {
      display: flex;
      flex-direction: column;

      .upload-label {
        font-weight: 500;
        font-size: 16px;
        color: #000;
        margin-bottom: 24px;
      }

      .upload-input {
        box-sizing: border-box;
        width: 100%;
        max-width: 542px;
        padding: 20px 30px;
        height: 60px;
        background: #fff;
        border: 1px solid #d6d6d6;
        border-radius: 10px;
        outline: none;
        font-size: 16px;
        color: $primary-gray-color;
        font-family: Inter, sans-serif;
        font-weight: 400;

        &::placeholder {
          font-weight: 500;
          font-size: 16px;
          color: #a9a9a9;
          opacity: 0.8;
        }
      }

      .upload-textarea {
        padding: 18px 25px;
        box-sizing: border-box;
        width: 100%;
        max-width: 542px;
        background: #fff;
        border: 1px solid #d6d6d6;
        border-radius: 10px;
        outline: none;
        height: 108px;
        resize: none;
        color: $primary-gray-color;
        font-family: Inter, sans-serif;
        font-weight: 400;

        &::placeholder {
          font-weight: 500;
          font-size: 16px;
          color: #a9a9a9;
          font-family: Inter, sans-serif;
        }
      }
    }
  }

  .upload-button {
    width: 100%;
    text-align: center;

    .btn-upload {
      margin-top: 27px;
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      background: $secondary-orange-color;
      border-radius: 5px;
      width: 100%;
      max-width: 315px;
      height: 64px;

      &:hover {
        background: $primary-orange-color-hover;
      }
    }
  }
}
