@import '../../../../assets/styles/pagination';

.show {
  padding-right: 45px;
  height: calc(100vh - 221px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .show-books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
  }
}
