@import '../../../../assets/styles/pagination';
@import '../../../../assets/styles/mixins';

.show {
  padding-right: 45px;

  @include common-calc-height;

  .show-books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
  }
}
