@import '../../../../../assets/styles/color';

.bar-container {
  padding: 38px 0 51px 68px;
  min-width: 306px;
  background-color: var(--white-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 108px);
  box-sizing: border-box;
  justify-content: space-between;

  .bar-top {
    .logo {
      margin-bottom: 100px;
      cursor: pointer;
    }

    .menu {
      margin-bottom: 40px;

      .menu-ul {
        display: flex;
        flex-direction: column;
        row-gap: 34px;

        .menu-item {
          .menu-item-a {
            font-size: 20px;
            color: var(--primary-gray-text-color);
            text-decoration: none;

            .icon {
              position: relative;
              top: 3px;
            }

            &:hover {
              color: var(--primary-dark-gray-color);

              svg-icon {
                path {
                  fill: var(--primary-dark-gray-color);
                }
              }
            }

            .text {
              margin-left: 12px;
            }
          }

          .menu-active {
            color: var(--primary-dark-gray-color);

            .icon {
              svg {
                path {
                  fill: var(--primary-dark-gray-color);
                }
              }
            }
          }
        }
      }
    }
  }

  .bar-bottom {
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      li {
        a {
          text-decoration: none;
          font-size: 15px;
          color: var(--primary-gray-text-color);

          &:hover {
            color: var(--primary-dark-gray-color);
          }
        }
      }
    }
  }
}
