@if ((isShow | async) === true) {
  <div class="hard-pagination-wrapper">
    <div class="hard-pagination">
      <span>
        <svg-icon
          (click)="decrementBy10IfGreaterThan10()"
          [svgStyle]="{ transform: 'rotate(180deg)' }"
          [ngClass]="{
            disabled: isDisabledIfDecreasingBy10GiveLessThan1((valueFromInput$ | async)!)
          }"
          [src]="mainPathToArrow + '/arrow-big-right-pagination-input.svg'"></svg-icon>
      </span>
      <span>
        <svg-icon
          (click)="decrementBy1IfGreaterThan1()"
          [svgStyle]="{ transform: 'rotate(180deg)' }"
          [ngClass]="{
            disabled: isDisabledIfDecreasingBy1GiveLessThan2((valueFromInput$ | async)!)
          }"
          [src]="mainPathToArrow + '/arrow-mini-right-pagination-input.svg'"></svg-icon>
      </span>
      <span class="hard-pagination-input">
        <input
          [formControl]="inputValue"
          class="hard-pagination-inp"
          (keydown)="keyPressOnInput($event)"
          type="tel" />
        <span>{{ quantityOfPages$ | async }} {{ 'common.pagesInput' | translate }}</span>
      </span>
      <span>
        <svg-icon
          (click)="incrementBy1IfPagesMoreAreExisting()"
          [ngClass]="{
            disabled: isDisabledIfIncreasingValueBy1WillBeEqualityWithPages(
              (quantityOfPages$ | async)!,
              (valueFromInput$ | async)!
            )
          }"
          [src]="mainPathToArrow + '/arrow-mini-right-pagination-input.svg'"></svg-icon>
      </span>
      <span>
        <svg-icon
          (click)="incrementBy10IfPagesMore()"
          [ngClass]="{
            disabled: isDisabledIfIncreasingValueBy10WillBeEqualityWithPages(
              (quantityOfPages$ | async)!,
              (valueFromInput$ | async)!
            )
          }"
          [src]="mainPathToArrow + '/arrow-big-right-pagination-input.svg'"></svg-icon>
      </span>
    </div>
  </div>
}
