<section class="favorites common-padding">
  <h2 class="common-title slide-in-left">{{ 'favorite-page.favouriteTitle' | translate }}</h2>
  @if (store.loading()) {
    <app-mini-loader></app-mini-loader>
  } @else {
    <div class="list-books fade-in">
      @for (favoriteBook of store.favorites().items; track favoriteBook; let index = $index) {
        <app-book [bigInfo]="true" [book]="favoriteBook"></app-book>
      }
    </div>
    @if (
      (store.favorites().items && store.favorites().items.length === 0) ||
      store.favorites() === undefined
    ) {
      <span class="common-nothing">{{ 'favorite-page.dontHaveFavouriteBook' | translate }}</span>
    }
  }
</section>
