<section class="my-books common-padding">
  <h2 class="common-title">My Books</h2>
  @if (selfBooks$ | async; as selfBooks) {
    <div class="list-books">
      @for (selfBook of selfBooks; track selfBook) {
        <app-book
          [bigInfo]="true"
          [selfBook]="true"
          [book]="selfBook"
          (deleteSelfBookEvent)="deleteSelfBook($event)"></app-book>
      }
    </div>
  }
  @if ((selfBooks$ | async) === null) {
    <span>You do not have self books</span>
  }

  <!--  <ngx-extended-pdf-viewer [src]="'assets/retro.pdf'" [zoom]="'auto'" [showPresentationModeButton]="true" [height]="'75vh'"></ngx-extended-pdf-viewer>-->
</section>
