@if (book$ | async; as book) {
  <section class="pdf-viewer">
    <div class="pdf-viewer-header">
      <div class="pdf-viewer-header-info">
        <div class="pdf-viewer-header-info-back" (click)="backToMyBooks()">
          <svg-icon [src]="pathToIcons + '/pdf-icon-back.svg'"></svg-icon>
          <span class="pdf-viewer-header-back-text">Back</span>
        </div>
        <div class="pdf-viewer-header-info-about">
          <div
            class="pdf-viewer-header-info-about-image"
            style="background-image: url({{ book.thumbnail }})">
            &nbsp;
          </div>
          <div class="pdf-viewer-header-info-about-text">
            <span class="pdf-title">{{ book.title }}</span>
            <span class="pdf-author">{{ book.author[0] }}</span>
          </div>
        </div>
      </div>
      <div class="pdf-viewer-header-addition">
        <div class="pdf-viewer-header-addition-favorite"></div>
        <div class="pdf-viewer-header-addition-full">
          <button class="pdf-addition-btn" (click)="customOpeningFullScreen()">Full Screen</button>
        </div>
        <div class="pdf-viewer-header-addition-view">
          <select
            id="optionsSpread"
            (change)="chooseView($event, 'spread')"
            [class]="{ 'pdf-addition-btn': true }">
            @for (option of listOfViewsAboutSpread; track option) {
              <option [value]="option.title">{{ option.title }}</option>
            }
          </select>
        </div>
        <div class="pdf-viewer-header-addition-view">
          <select
            id="optionsScrolling"
            (change)="chooseView($event, 'scrolling')"
            [class]="{ 'pdf-addition-btn': true }">
            @for (option of listOfViewsAboutScrolling; track option) {
              <option [value]="option.title">{{ option.title }}</option>
            }
          </select>
        </div>
      </div>
    </div>
    <div class="pdf-viewer-background pdf-viewer-zoom">
      <pdf-zoom-in></pdf-zoom-in>
      <pdf-zoom-out></pdf-zoom-out>
      <div>
        <pdf-zoom-dropdown
          [zoomLevels]="[
            'auto',
            'page-actual',
            'page-fit',
            'page-width',
            '50%',
            '100%',
            '125%',
            '150%',
            '200%',
            '300%',
            '400%'
          ]"></pdf-zoom-dropdown>
      </div>
    </div>
    <div class="pdf-viewer-background pdf-viewer-number">
      <svg-icon
        [src]="pathToIcons + '/pdf-arrow.svg'"
        (click)="primaryPrevious()"
        [svgStyle]="{ position: 'relative', 'top.px': 2 }"
        class="pdf-viewer-arrow"></svg-icon>
      <pdf-page-number></pdf-page-number>
      <svg-icon
        (click)="nextPrimary()"
        [svgStyle]="{ transform: 'rotate(180deg)', position: 'relative', 'top.px': 2 }"
        class="pdf-viewer-arrow"
        [src]="pathToIcons + '/pdf-arrow.svg'"></svg-icon>
    </div>
    <div class="pdf-viewer-background pdf-download">
      <svg-icon
        (click)="download()"
        [svgStyle]="{ cursor: 'pointer' }"
        [src]="pathToIcons + '/pdf-arrow-down.svg'"></svg-icon>
    </div>
    <ngx-extended-pdf-viewer
      [src]="book.webReaderLink"
      [zoom]="'auto'"
      [showPresentationModeButton]="true"
      [textLayer]="true"
      [backgroundColor]="'#4D4D4D'"
      [showHandToolButton]="true"
      [language]="'en'">
    </ngx-extended-pdf-viewer>
    <div class="pdf-edit" (click)="edit()">
      <svg-icon [src]="pathToIcons + '/pdf-edit.svg'"></svg-icon>
    </div>
  </section>
}
