<section class="my-books common-padding">
  <h2 class="common-title slide-in-left">{{ 'myBooks-page.myBooksTitle' | translate }}</h2>
  @if (isLoading$ | async) {
    <app-mini-loader></app-mini-loader>
  } @else {
    @if (selfBooks$ | async; as selfBooks) {
      <div class="list-books fade-in">
        @for (selfBook of selfBooks; track selfBook) {
          <app-book [bigInfo]="true" [selfBook]="true" [book]="selfBook"></app-book>
        }
      </div>
    } @else {
      <span>{{ 'myBooks.dontHaveSelfBook' | translate }}</span>
    }
  }
</section>
