.home-recommended-books {
  display: flex;
  column-gap: 40px;
  overflow: scroll scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 53px;
  padding: 20px 0;

  &::-webkit-scrollbar {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
