<section class="detail">
  <div class="info-message detail-info-message">
    @if (isLoading$ | async) {
      <app-mini-modal></app-mini-modal>
    } @else {
      @if (detailBook$ | async; as detailBook) {
        <div class="common-padding">
          <div class="back-to-result">
            <svg-icon [src]="pathToIcons + '/arrow-small-left.svg'"></svg-icon>
            <span>{{ 'backToResult' | translate }}</span>
          </div>
          <div class="detail-items">
            <div class="detail-item-common">
              <div class="detail-left">
                <div class="detail-left-image">
                  <img src="{{ detailBook.thumbnail }}" alt="{{ detailBook.title }}" />
                </div>
                <div class="detail-left-actions">
                  @for (action of actions; track $index) {
                    <div class="detail-left-action">
                      <svg-icon [src]="pathToIcons + '/' + action.svg"></svg-icon>
                      <span class="detail-action-title">{{ action.title }}</span>
                    </div>
                  }
                </div>
              </div>
              <div class="detail-center">
                <div class="detail-center-info">
                  <h1 class="detail-center-info-title">{{ detailBook.title }}</h1>
                  <h2 class="detail-center-info-author">
                    {{ 'byWhom' | translate }}
                    <a class="detail-center-info-author-decoration">{{ detailBook.authors[0] }}</a
                    >, {{ detailBook.publishedDate | transformDateBook }}
                  </h2>
                  @if (detailBook.publisher) {
                    <h3 class="detail-center-info-edition">{{ detailBook.publisher }}</h3>
                  }
                </div>
                @if (detailBook.averageRating) {
                  <div class="detail-central-reviews">
                    <app-star [rating]="rating"></app-star>
                    <span>{{ detailBook.averageRating }}.0 {{ 'rating' | translate }}</span>
                  </div>
                }
                @if (detailBook.accessInfo && detailBook.accessInfo.length > 0) {
                  <div class="detail-central-availability">
                    <h3 class="detail-central-availability-title">
                      {{ 'availability' | translate }}
                    </h3>
                    @for (accessInfo of detailBook.accessInfo; track $index) {
                      <div class="detail-central-availability-item">
                        <svg-icon
                          class="detail-central-availability-item-icon"
                          [src]="pathToIcons + '/done-green.svg'"></svg-icon>
                        <span class="detail-central-availability-item-description">{{
                          accessInfo
                        }}</span>
                      </div>
                    }
                  </div>
                }
                <div class="detail-central-buttons">
                  <button
                    (click)="openPageOnGoogle(detailBook.webReaderLink)"
                    class="detail-btn detail-btn-orange">
                    {{ 'readBig' | translate }}
                  </button>
                  <button class="detail-btn detail-btn-green">
                    <span class="detail-btn-green-text">{{ 'listen' | translate }}</span>
                    <div class="detail-btn-green-headphones-wrapper">
                      <svg-icon
                        class="detail-btn-green-headphones"
                        [src]="pathToIcons + '/headphones.svg'"></svg-icon>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="detail-right detail-item">
              <h3 class="detail-right-title">
                <span class="detail-right-title-orange">{{ 'about' | translate }}</span>
                {{ 'story' | translate }}
              </h3>
              <div class="detail-right-author-wrapper">
                <h4 class="detail-right-author-name">{{ detailBook.authors[0] }}</h4>
                <div class="detail-right-author-image">
                  <img [src]="pathToImages + '/author.png'" alt="{{ detailBook.authors[0] }}" />
                </div>
              </div>
              <div
                class="detail-right-about"
                [innerHTML]="detailBook.description | reduceLetter: 'author'"></div>
              @if (author$ | async; as author) {
                <div class="detail-right-other">
                  <div class="detail-right-other-text">{{ 'otherBooks' | translate }}</div>
                  <div class="detail-right-other-images">
                    @for (authorItem of author.items; track $index) {
                      <div (click)="openOtherBook(authorItem.id)" class="detail-right-other-image">
                        <img src="{{ authorItem.thumbnail }}" alt="{{ authorItem.title }}" />
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      } @else {
        <div class="common-nothing">{{ 'noInfo' | translate }}</div>
      }
    }
  </div>
</section>
