<aside class="bar-container">
  <div class="bar-top">
    <div routerLink="/home" class="logo">
      <img
        [ngSrc]="pathToImages + '/logo-bar.png'"
        alt="MyBookShelf"
        priority
        height="75"
        width="120" />
    </div>
    <nav class="menu">
      <ul class="menu-ul">
        <li class="menu-item">
          <a
            class="menu-item-a"
            routerLink="/home"
            routerLinkActive="menu-active"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="icon">
              <svg-icon [src]="pathToIcons + '/bar-home.svg'"></svg-icon>
            </span>
            <span class="text">Home</span>
          </a>
        </li>
        <li class="menu-item">
          <a
            class="menu-item-a"
            routerLink="/home/search"
            routerLinkActive="menu-active"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="icon">
              <svg-icon [src]="pathToIcons + '/bar-search.svg'"></svg-icon>
            </span>
            <span class="text">Search</span>
          </a>
        </li>
        <li class="menu-item">
          <a
            class="menu-item-a"
            routerLink="/home/favorites"
            routerLinkActive="menu-active"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="icon">
              <svg-icon [src]="pathToIcons + '/bar-favorites.svg'"></svg-icon>
            </span>
            <span class="text">Favorites</span>
          </a>
        </li>
        <li class="menu-item">
          <a
            class="menu-item-a"
            routerLink="/home/books"
            routerLinkActive="menu-active"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="icon">
              <svg-icon [src]="pathToIcons + '/bar-favorites.svg'"></svg-icon>
            </span>
            <span class="text">My Books</span>
          </a>
        </li>
        <li class="menu-item">
          <a
            class="menu-item-a"
            routerLink="/home/upload"
            routerLinkActive="menu-active"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="icon">
              <svg-icon [src]="pathToIcons + '/bar-upload.svg'"></svg-icon>
            </span>
            <span class="text">Upload</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="bar-bottom">
    <ul>
      <li>
        <a
          routerLink="/home/about"
          routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
      </li>
      <li>
        <a
          routerLink="/home/support"
          routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Support</a
        >
      </li>
      <li>
        <a
          routerLink="/home/terms"
          routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Terms & Condition</a
        >
      </li>
    </ul>
  </div>
</aside>
