<aside class="bar-container">
  <div class="bar-top">
    <div routerLink="/home" class="logo">
      <img
        [ngSrc]="pathToImages + '/logo-bar.png'"
        alt="MyBookShelf"
        priority
        height="75"
        width="120" />
    </div>
    <nav class="menu">
      <ul class="menu-ul">
        @for (menuItem of menuItems; track menuItem) {
          <li class="menu-item">
            <a
              class="menu-item-a"
              [routerLink]="menuItem.routerLink"
              routerLinkActive="menu-active"
              [routerLinkActiveOptions]="{ exact: true }">
              <span class="icon">
                <svg-icon [src]="pathToIcons + menuItem.icon"></svg-icon>
              </span>
              <span class="text">{{ menuItem.text }}</span>
            </a>
          </li>
        }
      </ul>
    </nav>
  </div>
  <div class="bar-bottom">
    <ul>
      @for (menuBelowBarItem of menuBelowBarItems; track menuBelowBarItem) {
        <li>
          <a
            [routerLink]="menuBelowBarItem.routerLink"
            routerLinkActive="menu-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ menuBelowBarItem.text }}</a
          >
        </li>
      }
    </ul>
  </div>
</aside>
