<aside class="bar-container" id="bar">
  <div class="bar-top">
    <div class="bar-top-close" id="close" #close>&#10006;</div>
    <div (click)="moveToPage('/home')" class="logo">
      <img [src]="pathToImages + '/logo-bar.png'" alt="MyBookShelf" />
    </div>
    <nav class="menu">
      <ul class="menu-ul">
        @for (menuItem of menuItems; track menuItem) {
          <li class="menu-item">
            <a
              (click)="moveToPage(menuItem.routerLink)"
              class="menu-item-a"
              routerLinkActive="menu-active"
              [routerLinkActiveOptions]="{ exact: true }">
              <span class="icon">
                <svg-icon [src]="pathToIcons + menuItem.icon"></svg-icon>
              </span>
              <span class="text">{{ menuItem.text }}</span>
            </a>
          </li>
        }
      </ul>
    </nav>
  </div>
  <div class="bar-bottom">
    <ul>
      @for (menuBelowBarItem of menuBelowBarItems; track menuBelowBarItem) {
        <li>
          <a
            (click)="moveToPage(menuBelowBarItem.routerLink)"
            routerLinkActive="menu-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ menuBelowBarItem.text }}</a
          >
        </li>
      }
    </ul>
  </div>
</aside>
