@import 'mixins';
@import 'color';

.auth {
  padding: 82px 0;
  background-image: url('../images/user/user-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    box-shadow: 0 0 20px rgb(0 0 0 / 25%);
    border-radius: 10px;
    background-color: var(--white-color);
    max-width: 565px;
    min-height: 917px;
    box-sizing: border-box;
    padding: 63px 71px 0;
    display: flex;
    flex-direction: column;
    width: 565px;

    .logo {
      display: flex;
      justify-content: center;
    }

    .auth-form {
      @include flex-column;

      .auth-form-head {
        display: flex;
        flex-direction: column;
        align-items: center;

        .auth-form-head-greeting {
          font-size: 20px;
          color: var(--primary-dark-gray-color);
          margin-bottom: 14px;
        }

        .auth-form-head-description {
          font-size: 15px;
          color: var(--primary-gray-color);
        }
      }

      .auth-form-inputs {
        .auth-form-input {
          display: flex;
          flex-direction: column;
          row-gap: 8px;

          label {
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            color: var(--gray-label-color);
          }

          .auth-form-input-wrapper {
            max-width: 422px;

            .auth-form-input-wrapper-extra {
              position: relative;

              .input {
                padding: 16px;
                box-sizing: border-box;
                width: 422px;
                height: 56px;
                background: var(--white-color);
                border: 1px solid var(--primary-light-gray-color);
                border-radius: 8px;
                font-size: 16px;
                color: var(--primary-dark-gray-color);
                font-family: Inter, sans-serif;
                font-weight: 400;
                outline: none;

                &::placeholder {
                  font-size: 16px;
                  font-family: Inter, sans-serif;
                  font-weight: 400;
                }
              }

              .input-check {
                padding: 16px 48px 16px 16px;
              }

              .eye-wrapper {
                position: absolute;
                top: calc(50% - 12px);
                right: 16px;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                  width: 100%;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .auth-button {
        padding: 16px;
        width: 100%;
        box-sizing: border-box;
        height: 48px;
        background: var(--primary-orange-color);
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        color: var(--white-color);

        &:hover {
          background: var(--primary-orange-color-hover);
        }
      }

      .auth-form-moving {
        font-size: 16px;
        color: var(--primary-dark-gray-color);
        margin-bottom: 45px;
        text-align: center;

        .auth-form-moving-route {
          color: var(--primary-dark-gray-color);
          border-bottom: 1px solid var(--primary-dark-gray-color);
          cursor: pointer;

          &:hover {
            color: var(--black-color);
          }
        }
      }

      .auth-google {
        padding: 15px 20px;
        background-color: var(--primary-orange-color);
        color: white;

        @include border-outline-none;

        border-radius: 20px;
        font-size: 15px;

        &:hover {
          background-color: var(--primary-orange-color-hover);
        }
      }
    }
  }
}

@media screen and (width <= 583px) {
  .auth {
    .container {
      margin: 0 20px;
      width: unset;
      padding: 30px;
      min-height: unset;
    }
  }
}

@media screen and (width <= 503px) {
  .auth {
    .container {
      .auth-form {
        .auth-form-head {
          .auth-form-head-greeting {
            font-size: 15px;
          }

          .auth-form-head-description {
            font-size: 11px;
          }
        }

        .auth-form-inputs {
          .auth-form-input {
            label {
              font-size: 13px;
            }

            .auth-form-input-wrapper {
              .auth-form-input-wrapper-extra {
                .input {
                  width: 100%;
                  padding: 10px;
                  font-size: 13px;

                  &::placeholder {
                    font-size: 13px;
                  }
                }

                &:last-child {
                  .input {
                    padding: 10px 48px 10px 10px;
                  }
                }
              }
            }
          }
        }

        .auth-button {
          font-size: 13px;
        }

        .auth-form-moving {
          font-size: 13px;
        }

        .auth-google {
          font-size: 13px;
        }
      }
    }
  }
}
