html {
  overflow-y: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.loader-wrap {
  padding-top: 10px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  border: 10px solid var(--primary-orange-color);
  animation: loading linear 3s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.info-message {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.button-orange-transparent {
  padding: 6px 12px;
  box-sizing: border-box;
  background: var(--white-color);
  border: 1px solid var(--orange-button-color);
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9em;
  color: var(--orange-button-color);

  &:hover {
    color: var(--white-color);
    background: var(--orange-button-color);
  }
}

.button-green-full {
  background: var(--green-bottom-color);
  border-radius: 5px;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 0.9em;
  color: var(--white-color);
  border: 1px solid var(--green-bottom-color);

  &:hover {
    color: var(--green-bottom-color-hover);
    background: var(--white-color);
  }
}

.pdf-addition-btn {
  outline: none;
  padding: 8px 15px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  background-color: transparent;
  font-size: 10px;
  color: var(--white-color);

  &:hover {
    border: 1px solid var(--orange-button-color);
    color: var(--orange-button-color);

    svg-icon svg {
      fill: var(--orange-button-color);
    }

    svg-icon svg path {
      stroke: var(--orange-button-color);
    }
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.header-modal {
  position: absolute;
  top: 60px;
  background: var(--white-color);
  border: 1px solid var(--primary-light-gray-color);
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  right: 0;
  z-index: 10;
  width: fit-content;

  .header-modal-items {
    @include flex-column;

    row-gap: 25px;

    .header-modal-item {
      a {
        font-size: 20px;
        color: var(--primary-dark-gray-color);
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: var(--dark-gray-title-color);
        }
      }
    }
  }
}

.common-nothing {
  font-size: 16px;
  color: var(--primary-dark-gray-color);
  margin-bottom: 40px;
}

.common-padding {
  padding: 0 45px;
}

.header-back {
  background: var(--white-color);
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-radius: 33px;
  height: 50px;
  box-sizing: border-box;
  z-index: 10;
}

.header-search-modal {
  left: 4px;
}

.header-lang-modal,
.header-account-modal {
  right: 0;
}

.header-back-info {
  @include flex-align-center;

  column-gap: 21px;
  cursor: pointer;
}

.header-back-text {
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-dark-gray-color);
}

.header {
  .active {
    transform: rotate(180deg);
    top: 3px;
  }
}

.header-search-offers {
  position: absolute;
  border: 1px solid var(--primary-light-gray-color);
  z-index: 10;
  top: 54px;
  left: 0;
  background: var(--white-color);
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: var(--primary-dark-gray-color);
  max-height: 200px;
  overflow-y: scroll;
}

.common-title {
  color: var(--primary-dark-gray-color);
  font-weight: 700;
  font-size: 1.5em;
  margin: 1.7em 0;
}

.header-search-offer {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;

  &:hover {
    background-color: #5babf6;
  }
}

.list-books {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  padding: 20px 0;
}

.user-common-padding {
  padding-left: 44px;
}

.status-success {
  background-color: rgb(28 224 6 / 76%);
}

.status-error {
  background-color: rgb(206 6 6 / 76%);
}

.status-info {
  background-color: rgb(2 124 201 / 76%);
}

.big-book {
  max-width: 310px;
}

.small-book {
  max-width: 160px;
}

.search-header-title {
  font-weight: 500;

  @include content-gray-color-12;
}

.content-info-title {
  @include content-gray-color-12;

  max-width: 365px;
}

.content-info-author {
  font-size: 1em;
  max-width: 365px;
}

.content-info-edition {
  font-size: 0.6em;
}

.upload-image-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 15px 0;
}

.upload-image {
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.upload-image-text {
  font-size: 12px;
}
