html {
  overflow-y: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  border: 0;
}

.button-orange-transparent {
  padding: 6px 12px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #f76b56;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  color: #f76b56;

  &:hover {
    color: #fff;
    background: #f76b56;
  }
}

.button-green-full {
  background: #42bb4e;
  border-radius: 5px;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 15px;
  color: #fff;
  border: 1px solid #42bb4e;

  &:hover {
    color: #42bb4e;
    background: #fff;
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header-modal {
  position: absolute;
  top: 60px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  box-sizing: border-box;

  .header-modal-items {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    .header-modal-item {
      a {
        font-size: 20px;
        color: $primary-gray-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: $primary-gray-color-hover;
        }
      }
    }
  }
}

.common-nothing {
  font-size: 16px;
  color: #2c2c2c;
  margin-bottom: 40px;
}

.common-padding {
  padding: 0 45px;
}

.header-back {
  background: #fff;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-radius: 33px;
  height: 50px;
  box-sizing: border-box;
}

.header-back-info {
  display: flex;
  align-items: center;
  column-gap: 21px;
  cursor: pointer;
}

.header-back-text {
  font-weight: 400;
  font-size: 20px;
  color: $primary-gray-color;
}

.header {
  .active {
    transform: rotate(180deg);
    top: 3px;
  }
}

.user-common-padding {
  padding-left: 44px;
}
