@import 'variables';

@mixin primary-gray-20 {
  color: $primary-gray-color;
  font-size: 20px;
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin text-primary-gray-600 {
  font-weight: 600;
  color: $primary-gray-color;
}
