@import 'color';

@mixin primary-gray-20 {
  color: var(--primary-dark-gray-color);
  font-size: 20px;
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin text-primary-gray-600 {
  font-weight: 600;
  color: var(--primary-dark-gray-color);
}

@mixin book-hover {
  transform: scale(1.01);
  box-shadow: 0 5px 9px rgb(0 0 0 / 25%);
}
