@import 'color';

@mixin primary-gray-20 {
  color: var(--primary-dark-gray-color);
  font-size: 20px;

  @media screen and (width <= 1417px) {
    font-size: 15px;
  }
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin text-primary-gray-600 {
  font-weight: 600;
  color: var(--primary-dark-gray-color);
}

@mixin book-hover {
  transform: scale(1.01);
  box-shadow: 0 5px 9px rgb(0 0 0 / 25%);
}

@mixin border-outline-none {
  outline: none;
  border: 0;
}

@mixin content-gray-color-12 {
  font-size: 1.2em;
  color: var(--gray-label-color);
}

@mixin primary-dark-gray-color-09 {
  font-size: 0.9em;
  color: var(--primary-dark-gray-color);
}

@mixin background-wrapper-for-ui-component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17 17 17 / 79%);
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
}

@mixin common-calc-height {
  height: calc(100vh - 221px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @media screen and (width <= 835px) {
    height: calc(100vh - 110px);
  }
}
