$primary-orange-color: #e36e48;
$primary-orange-color-hover: #d26442;
$primary-gray-color: #4d4d4d;
$secondary-orange-color: #eb5231;
$secondary-purple-color: #571fcf;
$secondary-green-color: #42bb4e;
$secondary-light-color: #f3f3f7;
