@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/color';

.header {
  background: linear-gradient(
    180deg,
    var(--white-color) 0%,
    var(--main-light-color) 76.5%,
    rgb(243 243 247 / 88%) 114.75%
  );
  border-radius: 0 10px 0 0;
  padding: 38px 45px 25px 44px;

  .header-items {
    @include flex-center-space-between;

    .header-search {
      background: var(--white-color);
      box-shadow: 0 0 4px rgb(0 0 0 / 25%);
      border-radius: 40px;
      max-width: 100%;

      @include flex-align-center;

      .header-search-all-wrapper {
        background: var(--main-light-color);
        border-radius: 40px 0 0 40px;
        position: relative;
        width: 95px;
        height: 49px;

        @include flex-align-center;

        justify-content: center;

        .header-search-all {
          @include flex-align-center;

          column-gap: 10px;
          cursor: pointer;

          .header-class-all-text {
            @include primary-gray-20;
          }

          .header-class-all-arrow {
            position: relative;
            bottom: 2px;
          }
        }
      }

      .header-search-input-wrapper {
        .header-search-input {
          padding: 12px;

          @include primary-gray-20;
          @include border-outline-none;

          width: 100%;
          box-sizing: border-box;

          &::placeholder {
            font-size: 20px;
            color: var(--primary-light-gray-color);
          }
        }
      }

      .header-search-find {
        @include flex-align-center;

        padding: 0 18px;

        .header-search-find-loop {
          height: 33px;
          width: 29px;
          border-right: 1px solid var(--primary-light-gray-color);

          @include flex-center-space-between;

          .header-search-find-loop-icon {
            cursor: pointer;
          }
        }

        .header-search-find-scan {
          margin-left: 11px;
          cursor: pointer;

          .header-search-find-scan-icon {
            position: relative;
            top: 1px;
          }
        }
      }
    }

    .header-item {
      @include flex-align-center;

      column-gap: 24px;

      .header-lang {
        position: relative;

        .header-lang-wrapper {
          @include flex-center-space-between;

          width: 173px;
          height: 50px;
          justify-content: center;
          column-gap: 19px;

          .header-lang-item {
            position: relative;
            top: 1px;
          }
        }
      }

      .header-account {
        position: relative;

        .header-account-wrapper {
          @include flex-align-center;

          column-gap: 18px;
          height: 50px;
          padding-right: 20px;
          justify-content: flex-start;

          .header-account-image {
            width: 45px;
            height: 45px;
            margin-left: 3px;
            border-radius: 50%;
            border: 1px solid var(--white-color);
            box-sizing: border-box;
            background-size: cover;
          }

          .header-account-info {
            .header-account-info-icon {
              .header-account-info-icon-svg {
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
    }
  }
}
