@import '../../../../assets/styles/pagination';
@import '../../../../assets/styles/mixins';

.show {
  padding-right: 45px;

  @include common-calc-height;

  .show-books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
  }
}

@media screen and (width <= 425px) {
  .show {
    padding-right: 20px;
    margin-top: 15px;

    .show-books {
      justify-content: center;
    }
  }
}
